body {
	font-family: Nunito, Arial, Helvetica, sans-serif;
}

#levelParams {
	width: 768px;
}
.params {
	display: flex;
	flex-wrap: wrap;
}
.params > div {
	margin: 0.5em 0.5em;
}
.params > div > * {
	display: block;
}
.row {
	display: flex;
}
label {
	font-size: 12px;
}
#tileset, #level {
	margin-right: 0.5em;
}
#patchesSelection {
	margin-top: 12px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	min-width: 400px;
	height: 512px;
	overflow-y: auto;
}
.patch {
	margin: 2px;
	padding: 2px;
}
.patch:hover:not(.selected) {
	border: 1px solid salmon;
	padding: 1px;
}
.patch.selected {
	border: 2px solid salmon;
	padding: 0;
}
#nullPatch {
	font-family: monospace;
	font-size: 10px;
	width: 32px;
	padding: 12px 2px;
	user-select: none;
	text-align: center;
	display: inline-block;
}
#nullPatch:hover:not(.selected) {
	padding: 11px 1px;
}
#nullPatch.selected {
	padding: 10px 0;
}